/*.LANDPAGE-MOBILE {
    width: 100%;2
    min-width: 393px;
    display: flex;
    border: 1px solid red !important;
}*/

 .HOME-MOBILE {
    display: flex;
    width: 393px;
    height: 100vh;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--defaultwhite);
}

 .mobile-logo-left-two {
    display: flex;
    height: 109px;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: var(--defaultwhite);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--coolgray-20);
}

 .logo {
    display: inline-flex;
    height: 28px;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
}

 .icon-container {
    display: flex;
    width: 52px;
    height: 46px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -9.00px;
    margin-bottom: -9.00px;
}

 .rectangle {
    position: relative;
    width: 55px;
    height: 28px;
    margin-left: -1.50px;
    margin-right: -1.50px;
}

 .text {
    display: flex;
    flex-direction: column;
    width: 246px;
    height: 16px;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

 .tica-optometria {
    position: relative;
    align-self: stretch;
    margin-top: -3.00px;
    margin-bottom: -1.00px;
    font-family: "Rajdhani-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--coolgray-60);
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 19.8px;
}

 .buttons-group {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

 .button {
    display: inline-flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px 8px;
    position: relative;
    flex: 0 0 auto;
}

 .icon-jam-icons {
    margin-top: -4.00px;
    margin-bottom: -4.00px;
    position: relative;
    width: 40px;
    height: 48px;
}

 .vector {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 29.17%;
    left: 20.83%;
}

 .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    padding: 48px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--coolgray-10);
}

 .content {
    align-items: flex-start;
    justify-content: center;
    gap: 48px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

 .section-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

 .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

 .main-headline {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--heading-3-font-family);
    font-weight: var(--heading-3-font-weight);
    color: var(--coolgray-90);
    font-size: var(--heading-3-font-size);
    text-align: center;
    letter-spacing: var(--heading-3-letter-spacing);
    line-height: var(--heading-3-line-height);
    font-style: var(--heading-3-font-style);
}

 .paragraph {
    position: relative;
    align-self: stretch;
    font-family: var(--body-m-font-family);
    font-weight: var(--body-m-font-weight);
    color: var(--coolgray-90);
    font-size: var(--body-m-font-size);
    text-align: center;
    letter-spacing: var(--body-m-letter-spacing);
    line-height: var(--body-m-line-height);
    font-style: var(--body-m-font-style);
}

 .div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

 .text-container-wrapper {
    all: unset;
    box-sizing: border-box;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--azulclaroprimario);
    border: 2px solid;
    border-color: var(--azulclaroprimario);
}

 .text-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
    flex: 0 0 auto;
}

 .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: var(--defaultwhite);
    font-size: 14px;
    letter-spacing: 0.50px;
    line-height: 14px;
    white-space: nowrap;
}

 .button-2 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: 132px;
    height: 40px;
    margin-right: -2.00px;
}

 .background {
    position: absolute;
    width: 98.48%;
    height: 100%;
    top: 0;
    left: 0;
}

 .img {
    position: absolute;
    top: calc(50.00% - 11px);
    right: 100px;
    width: 21px;
    height: 21px;
}

 .whatsapp {
    position: absolute;
    width: 59.85%;
    height: 57.50%;
    top: 30.00%;
    left: 31.06%;
    -webkit-text-stroke: 1px #0e6cca;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: var(--azulclaroprimario);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    border-color: var(--azulclaroprimario);
}

 .screen-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--defaultwhite);
    border-radius: 20px;
    overflow: hidden;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: var(--coolgray-30);
}

 .placeholder {
    height: 176.79px;
    background: linear-gradient(
        0deg,
        rgba(221, 225, 230, 1) 0%,
        rgba(221, 225, 230, 1) 100%
    );
    position: relative;
    align-self: stretch;
    width: 100%;
}

 .button-3 {
    position: relative;
    align-self: stretch;
    background-color: #0e6cca;
    width: 100%;
    height: 47.21px;
    margin-right: -2.00px;
}

 .background-2 {
    position: absolute;
    width: 99.45%;
    height: 100%;
    top: 0;
    left: 0;
}

 .nossos-servi-os {
    position: absolute;
    width: 98.64%;
    height: 42.36%;
    top: 27.54%;
    left: 0;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

 .NOSSOS-SERVIOS {
    display: flex;
    flex-direction: column;
    width: 393px;
    align-items: center;
    gap: 32px;
    padding: 160px 16px 48px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--defaultwhite);
}

 .caption {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--other-caption-font-family);
    font-weight: var(--other-caption-font-weight);
    color: var(--primary-90);
    font-size: var(--other-caption-font-size);
    text-align: center;
    letter-spacing: var(--other-caption-letter-spacing);
    line-height: var(--other-caption-line-height);
    font-style: var(--other-caption-font-style);
}

 .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    position: relative;
    flex: 0 0 auto;
}

 .row {
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 494px;
    align-items: flex-start;
    gap: 16px;
    position: relative;
}

 .frame-2 {
    gap: 8px;
    align-self: stretch;
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

 .content-box {
    align-items: center;
    flex: 1;
    flex-grow: 1;
    background-color: var(--defaultwhite);
    border: 1px solid;
    border-color: var(--coolgray-20);
    display: flex;
    flex-direction: column;
    position: relative;
}

 .placeholder-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 220px;
    background: linear-gradient(
        0deg,
        rgba(221, 225, 230, 1) 0%,
        rgba(221, 225, 230, 1) 100%
    );
}

 .content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px 16px 16px;
    position: relative;
    width: 100%;
    flex: 0 0 auto;
}

 .title-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

 .title {
    position: relative;
    width: 145px;
    margin-top: -1.00px;
    margin-right: -0.50px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: var(--coolgray-90);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.0px;
}

 .p {
    font-family: var(--body-s-font-family);
    font-weight: var(--body-s-font-weight);
    font-size: var(--body-s-font-size);
    line-height: var(--body-s-line-height);
    position: relative;
    align-self: stretch;
    color: var(--coolgray-90);
    letter-spacing: var(--body-s-letter-spacing);
    font-style: var(--body-s-font-style);
}

 .button-4 {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 8px 8px 0px;
    position: relative;
}

 .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
}

 .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--button-s-font-family);
    font-weight: var(--button-s-font-weight);
    color: var(--azulclaroprimario);
    font-size: var(--button-s-font-size);
    letter-spacing: var(--button-s-letter-spacing);
    line-height: var(--button-s-line-height);
    white-space: nowrap;
    font-style: var(--button-s-font-style);
}

 .icon-jam-icons-2 {
    position: relative;
    width: 24px;
    height: 24px;
}

 .title-2 {
    position: relative;
    width: 144px;
    margin-top: -1.00px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: var(--coolgray-90);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 22.0px;
}

 .buttons-group-2 {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 0px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

 .button-5 {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 8px 8px 0px;
    position: relative;
    flex: 0 0 auto;
}

 .nossos-produtos {
    display: flex;
    flex-direction: column;
    width: 393px;
    align-items: center;
    gap: 32px;
    padding: 158px 16px 48px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--defaultwhite);
}

 .secondary-headline {
    position: relative;
    align-self: stretch;
    font-family: var(--heading-4-font-family);
    font-weight: var(--heading-4-font-weight);
    color: var(--coolgray-90);
    font-size: var(--heading-4-font-size);
    text-align: center;
    letter-spacing: var(--heading-4-letter-spacing);
    line-height: var(--heading-4-line-height);
    font-style: var(--heading-4-font-style);
}

 .paragraph-2 {
    font-family: var(--body-l-font-family);
    font-weight: var(--body-l-font-weight);
    font-size: var(--body-l-font-size);
    text-align: center;
    line-height: var(--body-l-line-height);
    position: relative;
    align-self: stretch;
    color: var(--coolgray-90);
    letter-spacing: var(--body-l-letter-spacing);
    font-style: var(--body-l-font-style);
}

 .frame-wrapper {
    flex-direction: column;
    width: 361px;
    gap: 16px;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

 .text-wrapper-3 {
    position: relative;
    width: 100%;
    margin-top: -1.00px;
    margin-right: -203.50px;
    font-family: var(--heading-5-font-family);
    font-weight: var(--heading-5-font-weight);
    color: var(--coolgray-90);
    font-size: var(--heading-5-font-size);
    letter-spacing: var(--heading-5-letter-spacing);
    line-height: var(--heading-5-line-height);
    font-style: var(--heading-5-font-style);
}

 .button-6 {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    height: 56px;
    align-items: center;
    justify-content: center;
    padding: 16px;
    position: relative;
    background-color: var(--azulclaroprimario);
    border: 2px solid;
    border-color: var(--azulclaroprimario);
}

 .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--button-l-font-family);
    font-weight: var(--button-l-font-weight);
    color: var(--defaultwhite);
    font-size: var(--button-l-font-size);
    letter-spacing: var(--button-l-letter-spacing);
    line-height: var(--button-l-line-height);
    white-space: nowrap;
    font-style: var(--button-l-font-style);
}

 .vector-2 {
    position: absolute;
    width: 58.34%;
    height: 55.48%;
    top: 20.88%;
    left: 20.83%;
}

 .sobre-ns-mobile {
    display: flex;
    flex-direction: column;
    width: 393px;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 80px 16px 110px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--defaultwhite);
}

 .paragraph-3 {
    margin-top: -1.00px;
    font-family: "Rajdhani-Bold", Helvetica;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 39.6px;
    position: relative;
    align-self: stretch;
    color: var(--coolgray-90);
    letter-spacing: 0;
}

 .content-3 {
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

 .frame-3 {
    gap: 24px;
    align-self: stretch;
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

 .frame-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

 .paragraph-4 {
    margin-top: -1.00px;
    font-family: var(--heading-5-font-family);
    font-weight: var(--heading-5-font-weight);
    font-size: var(--heading-5-font-size);
    line-height: var(--heading-5-line-height);
    position: relative;
    color: #21272a;
    letter-spacing: var(--heading-5-letter-spacing);
    font-style: var(--heading-5-font-style);
}

 .paragraph-5 {
    font-family: var(--body-m-font-family);
    font-weight: var(--body-m-font-weight);
    font-size: var(--body-m-font-size);
    line-height: var(--body-m-line-height);
    color: #21272a;
    letter-spacing: var(--body-m-letter-spacing);
    font-style: var(--body-m-font-style);
}

 .placeholder-3 {
    height: 280px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

 .COMO-PODEMOS-AJUDAR {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 16px 16px 48px 16px;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--defaultwhite);
}

 .caixas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

 .ATENDIMENTO-COM {
    display: flex;
    flex-direction: column;
    height: 457px;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: var(--defaultwhite);
    border: 1px solid;
    border-color: var(--coolgray-20);
}

 .title-category-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

 .flexcontainer {
    width: 323px;
    height: 71px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

 .span-wrapper {
    position: relative;
    align-self: stretch;
    font-family: var(--heading-5-font-family);
    font-weight: var(--heading-5-font-weight);
    color: var(--coolgray-90);
    font-size: var(--heading-5-font-size);
    text-align: center;
    letter-spacing: var(--heading-5-letter-spacing);
    line-height: var(--heading-5-line-height);
    font-style: var(--heading-5-font-style);
}

 .span {
    font-family: var(--heading-5-font-family);
    font-weight: var(--heading-5-font-weight);
    color: #21272a;
    font-size: var(--heading-5-font-size);
    letter-spacing: var(--heading-5-letter-spacing);
    line-height: var(--heading-5-line-height);
    font-style: var(--heading-5-font-style);
}

 .RESULTADO-RPIDO {
    display: flex;
    flex-direction: column;
    height: 386px;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: var(--defaultwhite);
    border: 1px solid;
    border-color: var(--coolgray-20);
}

 .title-3 {
    position: relative;
    width: 100%;
    margin-top: -1.00px;
    font-family: var(--heading-5-font-family);
    font-weight: var(--heading-5-font-weight);
    color: var(--coolgray-90);
    font-size: var(--heading-5-font-size);
    text-align: center;
    letter-spacing: var(--heading-5-letter-spacing);
    line-height: var(--heading-5-line-height);
    font-style: var(--heading-5-font-style);
}

 .content-box-2 {
    display: flex;
    flex-direction: column;
    height: 412px;
    align-items: center;
    position: relative;
    align-self: stretch;
    padding: 50px;
    width: 100%;
    background-color: var(--defaultwhite);
    border: 1px solid;
    border-color: var(--coolgray-20);
}

 .LOCALIZAO-MOBILE {
    display: flex;
    flex-direction: column;
    width: 393px;
    align-items: center;
    padding: 48px 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--defaultwhite);
}

 .button-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    padding: 50px;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

 .button-7 {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--azulclaroprimario);
    border: 2px solid;
    border-color: var(--azulclaroprimario);
}

 .button-text {
    color: var(--defaultwhite);
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--button-s-font-family);
    font-weight: var(--button-s-font-weight);
    font-size: var(--button-s-font-size);
    letter-spacing: var(--button-s-letter-spacing);
    line-height: var(--button-s-line-height);
    white-space: nowrap;
    font-style: var(--button-s-font-style);
}

 .placeholder-4 {
    height: 263px;
    object-fit: cover;
    position: relative;
    align-self: stretch;
    width: 100%;
}

 .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 32px;
    padding: 24px 16px 48px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--coolgray-60);
}

 .logo-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

 .logo-2 {
    display: flex;
    width: 244px;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

 .rectangle-wrapper {
    display: flex;
    width: 79px;
    height: 46px;
    align-items: center;
    justify-content: center;
    position: relative;
}

 .rectangle-2 {
    position: relative;
    width: 66px;
    height: 46px;
}

 .flexcontainer-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
}

 .flexcontainer-2 {
    width: 145px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

 .text-2 {
    position: relative;
    align-self: stretch;
    font-family: "Rajdhani-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 19.8px;
}

 .text-wrapper-5 {
    font-family: "Rajdhani-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 19.8px;
}

 .footer-links {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
}

 .menu {
    display: flex;
    width: 361px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

 .menu-item {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 8px;
    position: relative;
    flex: 0 0 auto;
}

 .menu-item-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--other-menu-m-font-family);
    font-weight: var(--other-menu-m-font-weight);
    color: var(--defaultwhite);
    font-size: var(--other-menu-m-font-size);
    letter-spacing: var(--other-menu-m-letter-spacing);
    line-height: var(--other-menu-m-line-height);
    white-space: nowrap;
    font-style: var(--other-menu-m-font-style);
}

 .social-icons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

 .vector-3 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8.33%;
    left: 29.30%;
}

 .vector-4 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8.33%;
    left: 8.33%;
}

 .vector-5 {
    position: absolute;
    width: 43.03%;
    height: 43.03%;
    top: 28.41%;
    left: 28.42%;
}

 .vector-6 {
    position: absolute;
    width: 10.31%;
    height: 10.31%;
    top: 23.42%;
    left: 66.33%;
}

 .vector-7 {
    position: relative;
    width: 24px;
    height: 24px;
}

 .text-wrapper-6 {
    position: relative;
    align-self: stretch;
    font-family: var(--body-XS-font-family);
    font-weight: var(--body-XS-font-weight);
    color: var(--defaultwhite);
    font-size: var(--body-XS-font-size);
    text-align: center;
    letter-spacing: var(--body-XS-letter-spacing);
    line-height: var(--body-XS-line-height);
    font-style: var(--body-XS-font-style);
}
